<?xml version="1.0" encoding="UTF-8"?>
<Server port="9550" masterPoolSize="2" workerPoolSize="200">
    <!--<Clients>
        <Client port="1111" host="">
            <Services>
                <Service name="name" status="" proxyPort="1111"/>
            </Services>
        </Client>
    </Clients>-->
</Server>