<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<configuration status="WARN" monitorInterval="30">
    <properties>
        <property name="APP_NAME">proxy</property>
        <!--<property name="Pattern">%d{ISO8601} ${APP_NAME} %highlight{%5level %d{UNIX} -&#45;&#45; [%20t] %-50c{1.1} : %msg%n%throwable}</property>-->
        <property name="Pattern">%d{ISO8601} - ${APP_NAME} - %highlight{[%5level] - [%-50c{1.1}] - %msg%n%throwable}</property>
    </properties>

    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="${Pattern}"/>
        </console>
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="io.netty" level="ERROR"/>
        <logger name="org.mybatis" level="ERROR"/>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="com.zaxxer" level="ERROR"/>
        <logger name="org.apache" level="ERROR"/>
        <logger name="org.reflections" level="ERROR"/>
        <logger name="tech.pcloud.framework" level="ERROR"/>
        <logger name="tech.pcloud" level="DEBUG"/>
        <logger name="org.hibernate" level="ERROR"/>
        <logger name="org.eclipse.jetty" level="ERROR"/>
        <root level="all">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>